language = "python3"
run = "python manage.py runserver 0.0.0.0:3000"
hello
yes do you think we should use skype because this is complex i just think it is easier talking then typing
how
no
i like this
okay. did you get a hold of hudsonfigured so, he said around 8 he can.
should we switch over to main
not yet after 30 mins when we make some changes. also give me one min i make js file. 
will be in VS2022
and talk here
no 
