language = "python3"
run = "python manage.py runserver 0.0.0.0:3000"
# look at discussion.js for talking
#what in the world
#failed out of nowwhere
# //SLASH SLASH ITS JAVASCRIPT
# Python3
# have to pack up will text you and li. 
# k
# In Javascript you use // to write a message
# Gtg bye