
# yeah
#okay. thanks



### talk hereerererererererererererererererererererre
#
#
#
###### this is needing to be no CSRF#









# there is the repo django project in the folder called webauthgit






# we everting
# to wich one 
# no more reverting just update the code on heroku with the latest one github has. 


#DO NOT SEND TO GITHUB INCOMPLTLE CODE WILL BREAK WEBSITE
#can you fix the error
#what is the issue what happened tell me and i will assess 
#the testing.appps package not her does not exsiet
# here look at this 
# https://www.youtube.com/watch?v=_uQrJ0TkZlc&vl=en
# go to 5:44:00 something like that or slide through and see where he talks about 
language = "python3"
run = "python manage.py runserver 0.0.0.0:3000"
# look at discussion.js for talking
#what in the world
#failed out of nowwhere
# //SLASH SLASH ITS JAVASCRIPT
# Python3
# have to pack up will text you and li.
# k
# In Javascript you use // to write a message
# Gtg bye
 #hello.