<!DOCTYPE html>
<html>
  <head>
    <title>MunchyBank | A Part of MunchyTeam</title>.
    <!-- Script is not working, I will fix later (Hudson) -->
    <script>
      function store () {
        var munchyCoin
        
      }
      
      munchyCoin = localStorage.getItem("munchyCoinAmount")
      localStorage.setItem("munchyCoinAmount", munchyCoin)
    </script>
    <!-- css properties spot -->
  </head>
  <body>
    <!-- Header spot -->
    <div style="text-align: center;">
      <p>Your Munchy Coin:</p>
      <div id="munchyCoinBankDisplay"></div>
    </div>
    <!-- Footer spot -->
  </body>
</html>