<!DOCTYPE html>
<html>
  <head>
    <title>MunchySite | NFT Creator</title>
    <style type="text/css">
	.footer{
		min-height: 100px;
	}

  .a{
    text-align: center;
  }
</style>
    <style type="text/css">
	@media (min-width: 768px) {
	  html {
	    font-size: 16px;
	  }
	}

	.search-bar{
		max-width: 500px;
		width: 100%;
	}
	form{
		width: 100%;
	}
</style>
  </head>
  <body style="background-color: rbg(122, 122, 122);">
    <div><div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">
  	{% if request.user.is_authenticated %}
  <strong><p class="m-auto text-white"">MunchySite | Hello, {{request.user.username}}!</p></strong>
  	{% endif %}
  </h5>
  <div class="search-bar mt-sm-2 mr-2">
  	<form method="get">
  		<input class="form-control bg-dark text-light"  type="text" name="q" id="id_q" placeholder="Search...">
  	</form>
  </div>
  <nav class="my-2 my-md-0 mr-md-3">
  	{% if request.user.is_authenticated %}
	  	<a class="p-2 text-light" href="/blogs">Home</a>
	    <a class="p-2 text-light" href="/user/account">Account</a>
	    <a class="p-2 text-light" href="{% url 'account_logout' %}">Logout</a>
	{% else %}
		<a class="p-2 text-light" href="{% url 'home' %}">Home</a>
	    <a class="p-2 text-light" href="{% url 'account_login' %}">Login</a>
	    <a class="btn btn-outline-light" href="{% url 'account_signup' %}">Register</a>
	{% endif %}	
    
  </nav>
</div>

<!-- End Header -->

<script type="text/javascript">
	document.getElementById("id_q").value = "{{query}}"
</script></div>
    {% if user.is_authenticated_%}
          {% if {{request.extraData.picture}} = null %}
            <p>You have to have a profile picture!</p>
          {% else %}
            <img src="{{request.extraData.picture}}"/>
          {% endif %}
        {% else %}
          <p>You have to be signed in to create an                NFT</p>
          <a class="btn btn-primary" href="/accounts/signup">Sign Up</a>
        {% endif %}

    <div>
      <br>
<div class="d-flex flex-row align-items-center footer  bg-dark border-top shadow-lg text-light">
 <!-- <p class="m-auto">MunchySite - A part of MunchyTeam</p>
	<p class="m-auto">MunchySite | MunchyTeam | 2022</p>
</div>-->
  <p class="m-auto">MunchySite - A part of MunchyTeam | 2022</p>
  <!-- <p class="a">MunchySite | MunchyTeam | 2022</p> -->
<!-- End Footer -->


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </div>
  </body>
</html>